/* ---------- root variables ---------- */
:root {


  --dark-blue: #06151A;
  --bg-blue: #07263B;
  --light-yellow : #ffd4a3;
  --yellow-white: #ffecd6;
  --orange: #d08159;
  --pinkish: #8d697a;
  --purple: #544e68;
  --white: #f4fbfe;
}




/* ---------- general styling ---------- */
html,
body {
  background: linear-gradient(180deg, var(--bg-blue) 0%, var(--dark-blue) 70%);
  color: var(--text-color-darker);
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0 auto;
  transition: all 200ms;
}

h1 {
  font-weight: 800;
  font-size: bold;
  font-size: 3.2rem;
  margin: 0;
}

h2 {
  font-family: 'VT323', monospace;
  font-weight: 550;
  font-style: italic;
  font-size: 2.2rem;
  margin-top: 0;
}

footer {
  background: var(--white);
  /*width: 35%;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  /*border-top-left-radius: 400px;
  border-top-right-radius: 400px;*/
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
  /**/
  padding: 2rem;
}



/* ---------- nav styling ---------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-family: 'VT323', monospace;
  font-size: 1.6rem;
  margin-left: -1em;
}

nav a {
  display: inline;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  padding: 20px 16px;
  transition: all 0.5s ease;
}

nav a:hover {
  color: var(--orange);
  /*letter-spacing: 0.4rem;*/
  transition: all 0.5s ease;
}

.mylogo {
  width: 4rem;
  padding-top: 30px;
  margin-left: 30px;
  margin-bottom: -3px;
  transition: all 0.5s ease;
}

.mylogo:hover .a, 
.mylogo:hover .b{
  fill:var(--orange);
  transition: all 0.5s ease;
}


/* ---------- page styling ---------- */
.page {
  display: block;
  animation: fadeIn 0.4s;
 padding: 55px 0;
}

/*-------  footer   -----*/

.foot {
  /*font-size: 0.6rem;*/
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.minilogo {
  width: 2rem;
  margin-left: 3px;
  margin-bottom: -2px;
}

.footier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1em;
}

.iconfoot {
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.foottext {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 3em;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: var(--orange);
}


.mail-text{
  text-decoration: none;
  text-align: center;
  color: var(--dark-blue);
}

.mail-text h2 {
  font-size: 1.2rem!important;
}

/*----------------*/
.scroll-container {
  display: flex;
  flex-direction: column;
  /*height: 210rem;*/
  height: 275rem;
  align-items: center;
  margin: 0 auto;
}

.firstsection {
  /*width: 65rem;*/
  width: 100%;
  height: 35rem;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /*padding-top: 8rem;*/
    /**/
    padding: 1em;
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.mainsections {
  background: var(--white);
 /* width: 70%;*/
 width: 100%;
  height: 60rem;
  border-radius: 2.5rem;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  /**/
  padding: 2em;
}

.thirdsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10rem;
 /* margin-top: 10rem;*/
 margin-top: 15rem;
 /**/
 padding: 2em;
}



/*---------*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
 
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------------*/

.speech-bubble {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  width: 20em; height: 10em;
  border-radius: .25em;
  transform: rotate(-4deg) rotateY(15deg);
  background: var(--orange);
  text-align: left;
 /* margin-left: -4em;
  margin-bottom: 10em;*/
  
  margin-left: -1em;
}

.speech-bubble:before, .speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}

.speech-bubble:after {
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(.35em, -.15em) scale(1.02);
  background: var(--white);
}

.speech-bubble:before {
  border: solid 0 transparent;
  border-right: solid 3.5em var(--white);
  border-bottom: solid .25em var(--orange);
  bottom: .25em; left: 1.25em;
  width: 0; height: 1em;
  transform: rotate(-45deg) skewX(-75deg);
}

.facephoto {
  /*width: 350px;*/
  width: 300px;
  border-radius: 50%;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
}


.flexing {
  display: flex;
  /*flex-direction: row;*/
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}


.innerflex {
  text-align: right;
  margin: 0 auto;
}

.description {
  font-size: 1rem;
}

.myname {
  /*position: relative;*/
  margin: 0;
  /*margin-top: -2rem;*/
  margin-top: -0.5em;
}

.photobox {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /*margin-right: -4em;*/
}

/*----------------*/

.facephoto2 {
  width: 300px;
}

.aboutbox {
  width: 80%;
  /*text-align: left;*/
  text-align: center;
  /*padding-right: 5rem;*/
  padding: 2em;
}

.stonk {
  color: var(--orange);
}

.photobox2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.buttonabout {
 text-decoration: none;
 color: var(--text-color-darker);
}

/*----button styling -------*/

.wrapper {
  display: flex;
  /*justify-content: left;*/
  justify-content: center;
  margin-top: 1.6em;
  margin-bottom: 1.2em;
}

.cta {
    display: flex;
    padding: 0.4em 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: var(--white);
    background: var(--pinkish);
    transition: 1s;
    box-shadow: 6px 6px 0 var(--dark-blue);
    transform: skewX(-15deg);
    align-items: center;
}

.cta:focus {
   outline: none; 
}

.cta:hover, .cta:active {
    transition: 0.5s;
    box-shadow: 10px 10px 0 var(--orange);
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2),
.cta:active  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 40px;
}

  span {
    transform: skewX(15deg);
  }

  span:nth-child(2) {
    width: 22px;
    margin-left: 5px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three,
.cta:active path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one,
.cta:active path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two,
.cta:active path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: var(--white)
    }
    50% {
        fill: var(--orange);
    }
    100% {
        fill: var(--white);
    }
}



/*---- projects section -------*/


.projecttext {
  text-align: center;
  margin-bottom: 2em;
  color: var(--white);
  font-size: 3rem;
}

.projectwrap {
  display: flex;
  /*flex-direction: row;*/
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.img-box {
  /*width: 250px;*/
  width: 200px;
}

.img-box2 {
  /*width: 445px;*/
  width: 300px;
}

.box-scene {
  background-color: transparent;
  /*width: 400px;
  height: 400px;*/
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /**/

}

.box {
  position: relative;
  width: 70%;
  height: 70%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.box-scene:hover .box {
  transform: rotateY(180deg);
}

.face {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.side {
  color: var(--white);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

.side h2 {
  margin-bottom: -1em;
}

.pro-link {
  text-decoration: none;
  color: var(--white);
}

.bg-text {
  background: var(--dark-blue);
  padding: 0.5em;
  border-radius: 0.5em;
}


/*----------about page-----------*/



.scroll-container2 {
  display: flex;
  flex-direction: column;
  /*height: 2650px;*/
  height: 247rem;
  align-items: center;
  margin: 0 auto;
}

.welabout {
 /* width: 50rem;*/
 width: 90%;
justify-self: center;
align-self: center;
margin: 0 auto;
padding-top: 10rem;
padding-bottom: 4rem;
margin-top: 4rem;
color: var(--white);
/*text-align: left;*/
text-align: center;
/**/
font-size: 1.5rem;
}

.happyabout {
  /*font-size: 2rem;*/
  margin-bottom: -0.1em;
}

.facephoto3 {
  /*width: 340px;*/
  width: 300px;
  border-radius: 50%;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
  /**/
  margin: 1em;
}

.abouttext {
  /*width: 30rem;*/
  width: 90%;
  color: var(--white);
  /*padding-right: 3em;
  padding-left: 3em;*/
  padding: 2em;
  text-align: center;
}


.aboutmebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /*margin-top: 6rem;*/
  margin-top: 1rem;
  /*padding-bottom: 8rem;*/
  margin-bottom: -2rem;
}

.skillsetbox {
  /*width: 70%;*/
  width: 100%;
  margin: 2em;
  margin-bottom: 10rem;
}

.skillicon {
  /*width: 5rem;*/
  width: 3rem;
  margin: 20px;
  background-color: var(--white);
  padding: 1em;
  border-radius: 0.5em;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
}


.skillicon1 {
  /*width: 5rem;*/
  width: 4rem;
  margin: 20px;
  background-color: var(--white);
  padding: 1em 1.8em;
  border-radius: 0.5em;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
}

.skillicon2 {
  /*width: 6.6rem;*/
  width: 5.2rem;
  margin: 20px;
  padding-bottom: 0.7em;
  background-color: var(--white);
  padding: 1em 1em;
  border-radius: 0.5em;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
}

.skillicon3 {
  /*width: 5rem;*/
  width: 4rem;
  margin: 20px;
  padding-bottom: 10px;
  background-color: var(--white);
  padding: 1em 1.8em;
  border-radius: 0.5em;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
}

.skillicon5 {
  /*width: 3.7rem;*/
  width: 2.4rem;
  margin: 20px;
  background-color: var(--white);
  padding: 1em 1.6em;
  border-radius: 0.5em;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
}

.skillicon6 {
  /*width: 6rem;*/
  width: 5rem;
  margin: 20px;
  background-color: var(--white);
  padding: 1em 1.6em;
  border-radius: 0.5em;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
}

.skillsettext {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 8rem;
  color: var(--white);
}

.skillflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

.innerskill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-right: 1em;
  margin-left: 0;
}

.innerskill2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-right: 1em;
  margin-left: 0;
}

.toolsbox2 {
  /*width: 20rem;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  padding: 10px;
  font-weight: 600;
}

.about-illu {
  width: 250px;
}

.buckpic {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.skill-square {
  width: 100%;
  height: 90px;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .square-animation {
    animation: wipe-enter 1s;
  }
}



/*-------------projects pages---------------*/

.projects-page {
  /*margin-top: 6rem;*/
  /*margin-top: 2rem;*/
  margin-bottom: 6rem;
}


.ovid {
    /*height: 28rem;*/
    height: 20rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 6rem;
    /**/
    padding: 1em;
    width: 100%;
}

.ovid2 {
  /*height: 28rem;*/
  height: 20rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: 8rem;
  padding: 1em;
    width: 100%;
}

.vidco {
  /*box-shadow: 0.8em 0.8em 0 0 var(--orange);*/
  box-shadow: 0.4em 0.4em 0 0 var(--orange);
}

.titlep {
  /*font-size: 6rem;*/
  font-size: 2.2rem;
  margin-bottom: -0.3em;
}

.arrow {
  fill: var(--orange);
  position: absolute;
  padding-top: 14px;
}

.projectwelcome {
  /*width: 50rem;*/
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  /*text-align: left;*/
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 10rem;
  color: var(--white);
  font-size: 1.8rem;
}



.projectflex {
  display: flex;
  /*flex-direction: row;*/
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.toolsbox {
  /*width: 20rem;*/
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  background: var(--white);
  border-radius: 0.4em;
  padding: 10px;
  outline: 4px solid var(--orange);
  outline-offset: 0.5em;
  font-weight: 600;
}

.toolinner {
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
}
.project_textbox {
  /*width: 30rem;*/
  width: 100%;
  /*text-align: right;*/
  text-align: center;
  color: var(--white);
  padding: 1em;
}

.project_textbox2 {
 /* width: 20rem;*/
 width: 100%;
  /*text-align: right;*/
  text-align: center;
  padding-left: 10rem;
  padding-top: 3rem;
  color: var(--white);
  padding: 1em;
}

.tooltext {
  padding-left: 30px;
}

.tooltext2 {
  padding-left: 10px;
}


.wrapper2 {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: 5em;
}

.extratext {
  color: var(--white);
  text-align: center;
  margin-top: -2.5em;
}

/*-------------------*/

@media only screen and (min-width: 600px) {

  nav {
    margin-left: 0em;
  }

  .facephoto3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .toolsbox2 {
    padding: 0em 10em;
  }

  .about-illu {
    justify-content: center;
    margin: 0 auto;
  }

  .abouttext {
    width: 70%;
    justify-content: center;
    margin: 0 auto;
  }

  .projects-page {
    margin-top: 8rem;
  }

}

@media only screen and (min-width: 900px) {

  nav a:hover {
    letter-spacing: 0.4rem;
  }

  footer {
    width: 35%;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
  }

  .foot {
    font-size: 0.6rem;
    margin-bottom: -2.5em;
  }

  .scroll-container {
    height: 210rem;
  }

  .firstsection {
    padding-top: 13rem;
  }

  .mainsections {
    width: 70%;
  }

  .thirdsection {
    margin-top: 10rem;
  }

  .speech-bubble {
    margin-left: -8em;
  margin-bottom: 10em;
  }

  .facephoto {
    width: 350px;
  }

  .flexing {
    flex-direction: row;
  }

  .myname {
    margin-top: -2rem;
  }

  .photobox {
    margin-right: -4em;
  }

  .aboutbox {
    text-align: left;
    padding-right: 5rem;
  }

  .wrapper {
    justify-content: left;
  }

  .projectwrap {
    flex-direction: row;
  }

  .img-box {
    width: 250px;
  }

  .img-box2 {
    width: 445px;
  }

  .box-scene {
    width: 400px;
    height: 400px;
  }

  .scroll-container2 {
    height: 175rem;
  }

  .welabout {
    width: 50rem;
    text-align: left;
    /*font-size: ;*/
  }

  .happyabout {
    font-size: 2rem;
  }

  .facephoto3 {
    width: 340px;
  }

  .abouttext {
    width: 30rem;
    padding-right: 3em;
    padding-left: 3em;
  }

  .aboutmebox {
    margin-top: 6rem;
    padding-bottom: 8rem;
  }
   .skillsetbox {
     width: 70%;
   }

   .skillicon {
     width: 5rem;
   }

   .skillicon1 {
     width: 5rem;
   }

   .skillicon2 {
     width: 6.6rem;
   }

   .skillicon3 {
     width: 5rem;
   }

   .skillicon5 {
     width: 3.7rem;
   }

   .skillicon6 {
     width: 6rem;
   }

   .toolsbox2 {
     width: 20rem;
     padding: 0;
   }

   .projects-page {
     margin-top: 6rem;
   }

   .ovid {
     height: 28rem;
   }

   .ovid2 {
     height: 28rem;
   }

   .vidco {
    box-shadow: 0.8em 0.8em 0 0 var(--orange);
   }

   .titlep {
     font-size: 6rem;
   }

   .projectwelcome {
     width: 50rem;
     text-align: left;
   }

   .projectflex {
     flex-direction: row;
   }

   .toolsbox {
     width: 20rem;
   }

   .toolinner {
     flex-direction: row;
   }

   .project_textbox {
     width: 30rem;
     text-align: right;
   }

   .project_textbox2 {
     width: 20rem;
     text-align: right;
   }




   
}
